.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: auto;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  margin: 0 0 0;
  height: 100%;
  font-family: 'Barrio';
  font-size: 49px;
}
